.QLineEdit {
    height: 30px;
    font-size: 20px;
    font-family: 'Open Sans';
    border: none;
    border-bottom: 1px solid black;
}
.QTextEdit {
    font-size: 20px;
    font-family: 'Open Sans';
    border: none;
}
